/* utiliser l'unité des VW pour faire des tailles relatives à la largeur de l'écran */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 69px;
    position: relative;
    z-index: 1000;
}
#rectangle {
    width: 100%;
    height: 69px;
    background: 
        linear-gradient(to right, #9e0101bf 0%, #f0322b 50%, #9e0101bf 100%),
#f0322b;   

display: flex;
justify-content: space-evenly;
align-items: center;
}


.nav_group_left{
    display: flex;
    align-items: center;
    gap: 2.1vw;
    padding-right:18.2vw ;
}

.nav_group_right{
    display: flex;
    align-items: center;
    gap: 2.1vw;
    padding-left:18.2vw ;
}

.desktop_links a{
    color: white;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    font-size: 1.7vw;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    transition: 0.3s;
}

.desktop_links a:hover, .login_accueil a:hover {
    color: #000;
}

.desktop_links {
    display: flex;
    gap: 1.042vw;
}
.logo_club {
    height: 100px; 
    width: auto;
    transform: translateY(40px);
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.2)); 
}

.nav_center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Se_connecter{
    display: flex;
    flex-direction: row;
}
