/* bandeau */
.sidenav{
    height: 100%;

    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #333333;
    padding-top: 60px;
    transition: 0.5s ease;
}
/* texte  */
.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFDFD;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover{
    color: #111; 
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active{
    left: 0;
}

.sidenav .close{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span{
    display: block;
    width: 35px;
    height: 5px;
    background-color: #FFFDFD;
    margin: 6px 0;
}